#signup{
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 60px;
}

#logout{
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 60px;
}

#console{
  width: fit-content;
  padding: 30px;
  background-color: lightgray;
  margin: 50px auto;
}