@import './constants.css';

.nav_bar{
  max-width: 100%;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: white;
  z-index: 9;
  border-bottom: 0.0625rem solid var(--lightGray);
  gap: 15px
}
.nav_bar h1{
  color: var(--headerColor);
  font-size: 2rem;
  width: fit-content;
  height: fit-content;
  margin-left: 2.5rem;
  font-weight: 800;
  cursor: pointer;
}


.logoutContainer{
  width: 205px;
  height: 50px;
  padding: 15px 35px;
  margin-right: 40px;
  background-color: var(--altColor);
  border-radius: 1.25rem;
  border: none;  
  align-items: center;
}

.logoutContainer button{
  border: none;
  margin-top: 4px;
  background: none;
  font-size: 1.875rem;
  font-weight: normal;
  color: var(--white);
  cursor: pointer;
}

.logoutContainer button:hover{
  opacity: .6;
}

.userIcon{
  border-radius: 100%;
  width: 2.8125rem;
  height: 2.8125rem;
  margin-left: 1.875rem;
  background-color: var(--lightGray);
  display: block;
  float: right;
  overflow: hidden;
}

.userIcon img{
  width: 2.8125rem;
  height: 2.8125rem;
}

@media screen and (max-width: 550px){

  .nav_bar{
    overflow-x: hidden;
    position: sticky;
  }

  .nav_bar h1{
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .logoutContainer{
    padding: 10px;
    margin: 0;
    width: fit-content;
    margin-right: 10px;
    height: 50px;
  }

  .logoutContainer button{
    font-size: 1.1rem;
    white-space: nowrap;
    margin:0 auto;
    transform: translateX(0);
    padding: 10px;
    padding-left: 5px;
    padding-top: 14px;
  }

  .userIcon{
    margin: 0 auto;
    transform: translateY(2px);
  }
}
