@import './constants.css';

.nav_bar{
  max-width: 100%;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: white;
  z-index: 9;
  border-bottom: 0.0625rem solid var(--lightGray);
}
.nav_bar h1{
  color: var(--headerColor);
  font-size: 2rem;
  width: fit-content;
  height: fit-content;
  margin-left: 1.25rem;
  font-weight: 800;
}


.logoutContainer{
  width: fit-content;
  height: fit-content;
  padding: 15px 35px;
  margin-right: 40px;
  background-color: var(--altColor);
  border-radius: 1.25rem;
  border: none;  
  align-items: center;
}

.logoutContainer button{
  border: none;
  margin-top: 4px;
  background: none;
  font-size: 1.875rem;
  font-weight: normal;
  color: var(--white);
  cursor: pointer;
}

.userIcon{
  border-radius: 100%;
  width: 2.8125rem;
  height: 2.8125rem;
  margin-left: 1.875rem;
  background-color: var(--lightGray);
  display: block;
  float: right;
  overflow: hidden;
}

.userIcon img{
  width: 2.8125rem;
  height: 2.8125rem;
}

@media screen and (max-width: 500px){
  /*.login{
    white-space: nowrap;
    margin-left: 1.25rem;
    transform: translateX(-10px);
  }*/
}
