@import './constants.css';

.banner{
  background-color: var(--mainColor);
  min-width:100%;
  min-height: 40rem;
}
.aboutText-container{
  width: fit-content;
  top: 300px;
  left: 300px;
  font-size: 48px;
  inline-size: 560px;
  text-align: right;
  position: absolute;
} 
.aboutText{
  width: fit-content;
  bottom: 70px;
  color: var(--white);
}

.bannerImage-container{
  margin: 0;
  width: fit-content;
  height: fit-content;
  float: right;
  margin-top: 30px;
}

.bannerImage{
  width: 839px;
  height: 558px;
  display: block;
}

.banner button{
  font-size: 1.5rem;
  padding: .7rem 1.5rem;
  font-weight: normal;
  border-radius: 0.9375rem;
  border: none;
  color: var(--white);
  background-color: var(--altColor);
  position: absolute;
  bottom: 300px;
  left: 520px;
}