@import './constants.css';

.banner{
  background-color: var(--mainColor);
  width:100vw;
  height: 40rem;
  display: flex;
  justify-content: space-evenly;
}
.aboutText-container{
  width: fit-content;
  font-size: 48px;
  inline-size: 560px;
  text-align: right;
  margin-top: 150px;
  margin-left: 300px;
} 
.aboutText{
  width: 560px;
  height: 183px;
  bottom: 70px;
  color: var(--white);
}

.bannerImage-container{
  width: fit-content;
  height: fit-content;
  float: right;
  margin-top: 30px;
}

.bannerImage{
  width: 839px;
  height: 558px;
}

.banner button{
  font-size: 1.5rem;
  width: fit-content;
  height: fit-content;
  padding: .7rem 1.5rem;
  white-space: nowrap;
  font-weight: normal;
  border-radius: 0.9375rem;
  border: none;
  color: var(--white);
  background-color: var(--altColor);
  cursor: pointer;
  margin: 90px 100px;
}

.banner button:hover{
  opacity: .6;
}

.blocker{
  width: 100vw;
  height: 72.5%;
  background-color: var(--altColor);
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 42px;
  color: var(--white);
  top: 10%;
  z-index: 1;
}


@media screen and (max-width: 550px){


  .banner{
    width: 100vh;
    height: 25rem;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .aboutText{
    inline-size: 400px;
  }

  .aboutText-container{
    margin-left: 0;
    font-size: 32px;
    margin-top: 80px;
    inline-size: 400px;
  }

  .bannerImage-container{
    display: none;
  }

  .banner button{
    margin-top: 1.25rem;
  }
}
