@import './constants.css';

.container h2{
  text-align: center;
  padding: 3.125rem;
  font-size: 2.5rem;
  font-weight: normal;
}

.feature-1{
  display: flex;
  width: fit-content;
  margin: auto;
}

.feature-2, .feature-3{
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: -2.5rem;
}

.feature-item-1 img{
  height: fit-content;
  width: fit-content;
  margin: 2.5rem 4.0625rem 1.25rem 0.9375rem;
}

.feature-item-2 img{
  height: fit-content;
  width: fit-content;
  float: right;
  margin: 60px 55px 20px 15px;
}

.feature-item-3 img{
  height: fit-content;
  width: fit-content;
  margin: 3.75rem 4.0625rem 1.25rem 0.9375rem;
}

.feature-item-1 h2,
.feature-2 h2,
.feature-3 h2{
  float: right;
  margin-right: 1.875rem;
  font-size: 2.5rem;
  inline-size: 25rem;
  font-weight: 600;
}

.feature-item-1 p{
  font-size: 1.25rem;
  float: right;
  inline-size: 33.3125rem;
  transform: translateY(-12.5rem);
  padding: 1.25rem 0rem;
  margin:-2.5rem 1.25rem 0.625rem 0.625rem;
}

.feature-item-2 p{
  font-size: 1.25rem;
  float: left;
  inline-size: 33.3125rem;
  transform: translateY(-9.375rem);
  padding: 1.25rem 0rem;
  margin:-6.25rem 1.875rem 1.875rem 0rem;
}

.feature-item-3 p{
  font-size: 1.25rem;
  float: right;
  inline-size: 33.3125rem;
  transform: translateY(-12.5rem);
  padding: 1.25rem 0rem;
  margin:-9.375rem 1.25rem 0.625rem 0.625rem;
}

#member-name{
  width: fit-content;
  height: fit-content;
  margin: 0rem auto;
  margin-top: 20%;
  margin-bottom: 0.625rem;
  font-size: 1.875rem;
  inline-size: fit-content;
}
#member-position{
  width: fit-content;
  height: fit-content;
  margin: 0rem auto;
  font-size: 1.25rem;
}

#teamLabel{
  margin-top: -3.125rem;
}

.team{
  display: flex;
  width: fit-content;
  padding-top: 1.25rem;
  margin: auto;
  gap: 6.25rem;
  margin-bottom: 5.625rem;
}


.member-1-container,
.member-2-container,
.member-3-container{
  width: 24.125rem;
  height: 24.125rem;
  border-radius: 100%;
  overflow: hidden;
}

.member-1-image{
  width: 24.125rem;
  height: 30rem;
  display: block;
  margin: auto;
}
.member-2-image{
  width: 24.125rem;
  height: 36rem;
  transform: translateY(-2rem);
  display: block;
  margin: auto;
}
.member-3-image{
  width: 24.125rem;
  height: 30rem;
  display: block;
  margin: auto;
}
