.container h2{
  text-align: center;
  padding: 50px;
}

.feature-1{
  display: flex;
  background-color: chocolate;
  width: 50%;
  margin: auto;
  background-color: aquamarine;
}


.feature-2{
  display: flex;
  width: 50%;
  margin: auto;
  background-color: blueviolet;
}

.feature-3{
  display: flex;
  width: 50%;
  margin: auto;
  background-color:hotpink;
}