
.footer{
display: flex;
width: 70%;
height: 70px;
/*background-color: coral;*/
margin: auto;
align-items: center;
justify-content:space-between;
border-top: 2px solid var(--lightGray);
margin-bottom: 40px;
padding-top: 30px;
}

.logo{
  width: fit-content;
  height: fit-content;
}

.icons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-1, .icon-2{
  width: 32px;
  height: 32px;
}