
.footer{
display: flex;
width: 70%;
height: 4.375rem;
/*background-color: coral;*/
margin: auto;
align-items: center;
justify-content:space-between;
border-top: 0.125rem solid var(--lightGray);
margin-bottom: 2.5rem;
padding-top: 1.875rem;
gap: 1.25rem;
}

.logo{
  width: fit-content;
  height: fit-content;
}

.icons{
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.icon-1, .icon-2{
  width: 2rem;
  height: 2rem;
}

.footer img:hover{
  opacity: .1;
}

@media screen and (max-width: 550px){
  .footer{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .logo{
    transform: translateX(-20px);
  }
}