@import './constants.css';

.navbar{
  min-width: 100%;
  min-height: 8.625rem;
  display: flex;
  align-items: center;
}
.navbar h1{
  color: var(--headerColor);
  font-size: 2rem;
  width: fit-content;
  height: fit-content;
  margin-left: 1.25rem;
  font-weight: 800;
}

.links a{
  margin-left: 1.25rem;
  padding: 0.9375rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--lightGray);
}

.login{
  
}

.login button{
  font-size: 1.5rem;
  padding: 0.7rem 1rem;
  font-weight: normal;
  border-radius: 2.5rem;
  border: none;
  color: var(--white);
  background-color: var(--mainColor);
}