@import '/src/styles/constants.css';


.logoutContainer{
  width: 19.875rem;
  height: 4.9375rem;
  background-color: var(--mainColor);
  border-radius: 2.5rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
  margin: 3.125rem;
  text-align: center;
}

.logout{
  width: 16.25rem;
  height: 4.375rem;
  font-size: 2.1875rem;
  font-weight: normal;
  background-color: transparent;
  color: var(--white);
  border: none;
  padding-right: 5rem;
  top: 0rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.userIcon{
  border-radius: 100%;
  width: 3.375rem;
  height: 3.375rem;
  background-color: var(--lightGray);
  margin: -4.0625rem 2.5rem;
  display: block;
  float: right;
}

.pageContainer{
  width: 78.0625rem;
  height: 49.1875rem;
  margin: 9.375rem auto;
  margin-bottom: 0rem;
}

.dataContainer{
  width: fit-content;
  display: flex;
  gap: 0.625rem;
  border-radius: 1.875rem;
  z-index: -9;
  background-color: var(--lightGray);
  margin-bottom: 2.5rem;
}

.repoContainer{
  background-color: var(--textColor);
  width: 16.75rem;
  height: 6.25rem;
  border-radius: 1.875rem 0rem 0rem 1.875rem;
}

.fileContainer{
  background-color: var(--textColor);
  width: 16.75rem;
  height: 6.25rem;
  border-radius: 0rem 1.875rem 1.875rem 0rem;
}


.codeContainer{
  width: 78.0625rem;
  height: 37.5rem;
  background-color: var(--textColor);
  border-radius: 2.5rem;
  display: flex;
  gap: 30px;
}

.codeBox1{
  width: 50%;
  height: inherit;
  background-color: var(--lightGray);
}

.codeBox2{
  width: 50%;
  height: inherit;
  background-color: var(--lightGray);
}