@import '/src/styles/constants.css';


.logoutContainer{
  width: 318px;
  height: 79px;
  background-color: var(--mainColor);
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 50px 50px;
  text-align: center;
}

.logout{
  width: 260px;
  height: 70px;
  font-size: 35px;
  font-weight: normal;
  background-color: transparent;
  color: var(--white);
  border: none;
  padding-right: 80px;
  top: 0;
  cursor: pointer;
  margin-top: 8px;
}

.userIcon{
  border-radius: 100%;
  width: 54px;
  height: 54px;
  background-color: var(--lightGray);
  margin: -65px 40px;
  display: block;
  float: right;
}

.pageContainer{
  width: 1249px;
  height: 787px;
  margin: 150px auto;
  margin-bottom: 0;
}

.dataContainer{
  width: fit-content;
  display: flex;
  gap: 10px;
  border-radius: 30px;
  z-index: -9;
  background-color: var(--lightGray);
  margin-bottom: 40px;
}

.repoContainer{
  background-color: var(--altColor);
  width: 268px;
  height: 100px;
  border-radius: 30px 0 0 30px;
}

.fileContainer{
  background-color: var(--altColor);
  width: 268px;
  height: 100px;
  border-radius: 0 30px 30px 0;
}


.codeContainer{
  width: 1249px;
  height: 600px;
  background-color: var(--altColor);
  border-radius: 40px;
}