@import '/src/styles/constants.css';

.parentPage{
  transform: translateY(-50px);
}

.playContainer{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.fillPocket{
  background-color: var(--altColor);
  border: none;
  width: 215px;
  height: 57px;
  font-size: 1.5rem;
  padding: 1px;
  border-radius: 15px;
  font-weight: normal;
  color: var(--white);
  cursor: pointer;
}

.play{
  width: 57px;
  height: 57px;
  border-radius: 15px;
  border: none;
  background-color: var(--altColor);
  cursor: pointer;
}

.play img{
  display: block;
  margin: 0 20px;
}


.pageContainer{
  width: 78.0625rem;
  height: 49.1875rem;
  margin: 9.375rem auto;
  margin-bottom: 0rem;
}

.repoContainer{
  background-color: var(--textColor);
  width:initial;
  height: 48px;
  border-radius: 1.25rem 0rem 0rem 0rem;
  font-size: 24px;
  font-weight: normal;
  background-color: var(--mainColor);
  border: none;
  padding-left: 20px;
  color: var(--white);
}

.repo{
  padding-top: 10px;
}

.outputSelect{
  background-color: var(--textColor);
  width: 100%;
  height: 48px;
  border-radius: 0rem 1.25rem 0rem 0rem;
  font-size: 24px;
  font-weight: normal;
  background-color: var(--mainColor);
  border: none;
  padding-left: 20px;
  color: var(--white);
}


.dataContainer{
  width: 72rem;
  height: 40rem;
  background-color: var(--lightGray);
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 20px;
}

.codeContainer{
  width: 69.875rem;
  height: 37.5rem;
  background:none;
  border-radius: 2.5rem;
  display: flex;
  align-content: center;
  gap: 3px;
}

.codeBox1{
  width: 50%;
  height: inherit;
  background-color: var(--white);
  border-radius: 20px 0 0 20px;
}

.codeBox2{
  width: 50%;
  height: inherit;
  background-color: var(--white);
  border-radius: 0 20px 20px 0;
}

.codeBox1 p, .codeBox2 p{
  padding: 1.25rem;
  height: 32rem;
  overflow-y: auto;
}

.fillPocket:hover, .play:hover{
  opacity: .6;
}

@media screen and (max-width: 500px){
  .parentPage{
    overflow-x: hidden;
  }

  .playContainer{
    margin-left: 10px;
  }

  .dataContainer{
    margin-left: 10px;
    width: 90vw;
    height: 107vh;
    padding-left: 20px;
  }

  .codeContainer{
    flex-direction: column;
  }

  .repoContainer, .outputSelect{
    border-radius: 1.25rem 1.25rem 0 0;
  }

  .codeBox1, .codeBox2{
    border-radius: 1.25rem;
    width: 85vw;
    height: 50vh;
    margin-bottom: 20px;
  }
}