@import './constants.css';

.submitContainer{
  width: 678px;
  height: 540px;
  background-color: var(--lightGray);
  margin: 150px auto;
  border-radius: 40px;
}

.submitLabel{
  text-align: center;
  margin: auto;
  padding-top: 15%;
  padding-bottom: 5%;
  font-size: 35px;
  inline-size: 300px;
  font-weight: normal;
}

.inputLayer1{
  width: 465px;
  height: 96px;
  margin: auto;
  background-color: var(--grey);
  border-radius: 20px;
  margin-bottom: 30px;
}
.inputLayer2{
  width: 445px;
  height: 77px;
  border-radius: 15px;
  background-color: var(--white);
  position: absolute;
  margin: 10px;
  font-size: 30px;
  background-color: var(--white);
  border: none;
}

.submitButton{
  width: 300px;
  height: 65px;
  font-size: 35px;
  margin: auto;
}
.submitButton button{
  margin: auto;
  font-size: 35px;
  color: var(--white);
  display: block;
  background-color: var(--mainColor);
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
}