@import './constants.css';

.submitContainer{
  width: 42.375rem;
  height: 33.75rem;
  background-color: var(--lightGray);
  margin: 9.375rem auto;
  border-radius: 2.5rem;
}

.submitLabel{
  text-align: center;
  margin: auto;
  padding-top: 15%;
  padding-bottom: 5%;
  font-size: 2.1875rem;
  inline-size: 18.75rem;
  font-weight: normal;
}

.inputLayer1{
  width: 29.0625rem;
  height: 6rem;
  margin: auto;
  background-color: var(--grey);
  border-radius: 1.25rem;
  margin-bottom: 1.875rem;
}
.inputLayer2{
  width: 27.8125rem;
  height: 4.8125rem;
  border-radius: 0.9375rem;
  background-color: var(--white);
  position: absolute;
  margin: 0.625rem;
  font-size: 1.875rem;
  background-color: var(--white);
  border: none;
}

.submitButton{
  width: 18.75rem;
  height: 4.0625rem;
  font-size: 2.1875rem;
  margin: auto;
}
.submitButton button{
  margin: auto;
  font-size: 2.1875rem;
  color: var(--white);
  display: block;
  background-color: var(--mainColor);
  padding: 0.625rem 3.125rem;
  border-radius: 1.25rem;
  border: none;
  cursor: pointer;
}